header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}
header>div{
    width: 45%;
    padding-left: 20px;
}
header>div>p{
  font-size: 24px;
  font-weight: bold;
}

header>div>ul{
    text-align: right;
    padding-top: 10px;
}
header>div>ul>li{
    display: inline;
    margin-right: 40px;
    padding: 10px;
}

header>div>ul>li>a:hover{
   color: #0075dd;
}
header>div>ul>li>a{
    color:black;
    text-decoration: none;
    font-size: 18px;
 }
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    
    .sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    line-height: 35px;
    color: #3d3d3d;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #e4e4e4;
    padding-left: 15px;
    }
    
    .sidenav a:hover {
    background-color: #0075dd;
    color: #fff;
    }
    #span{
     border: 1px solid rgb(192, 186, 186);
        position: absolute;
        top: 30px;
        right: 40px;
        padding: 7px;
        display: none;
        font-size: 19px;
        margin-top: -15px;
        color:rgb(102, 97, 97) ;
        }
        aside{
            display: none;
            position: sticky;top: 0;background-color: #fff;
            }
    aside>div>p{
        padding-left: 30px;
        font-size: 16px;
        padding-top: 7px;
        font-weight: 700;
    }
#contact{
    background-color: #36a900;
    color: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
    font-size: 17px;
}
            @media screen and (max-width:900px){
                #contact{
                    border-radius: 0;
                }
                aside{
                  display: block;
                display: flex;flex-direction: row;
                }
                #span{
                  display: block;
                }
        header{
            display: none;
        }
            }